@import url("root.css");
@media (min-width: 800px) {
  #wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .brand-title img {
    width: 177px;
    height: 38px;
  }
  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
  }
  .navbar ul li {
    color: var(--White);
  }
  .navbar ul li:hover {
    background-color: var(--White);
    color: var(--Dark-desaturated-cyan-graphic-design-text);
    font-weight: bold;
  }
  .navbar .toggle-button {
    display: none;
  }
  nav .navbar-links {
    display: block;
  }
  nav .navbar-links.active {
    display: block;
  }
  header nav ul {
    height: auto;
    background-color: transparent;
    padding: 0;
    flex-direction: row;
    position: static;
  }
  header nav ul::after {
    display: none;
  }
  header {
    background-image: url("../images/desktop/image-header.jpg");
    height: 800px;
  }
  header section {
    margin-top: 90px;
  }
  header section h1 {
    font-size: 3.5rem;
    letter-spacing: 7px;
    margin-bottom: 88px;
  }

  /*main section*/
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main div,
  main article {
    width: 50%;
  }
  div#egg {
    height: 600px;
    background-image: url("../images/desktop/image-transform.jpg");
    order: 2;
  }
  div#pinkglass {
    height: 600px;
    background: center no-repeat url(../images/desktop/image-stand-out.jpg);
  }
  #transform {
    height: 600px;
    order: 1;
    text-align: left;
    padding: 165px 113px 145px;
  }
  #standOut {
    height: 600px;
    text-align: left;
    padding: 165px 110px 105px 115px;
  }
  #transform h2,
  #standOut h2 {
    text-align: left;
    font-size: 2.5em;
  }
  #transform p,
  #standOut p {
    font-size: 1.1em;
  }
  #transform span,
  #standOut span {
    margin: 0 auto 0 0;
    top: -6px;
    left: -6px;
  }
  main .lastTwo p {
    width: 340px;
    margin-right: auto;
    margin-left: auto;
  }
  main #cherry {
    background: center no-repeat url(../images/desktop/image-graphic-design.jpg);
    order: 5;
  }
  main #wholeOrange {
    background: center no-repeat url(../images/desktop/image-photography.jpg);
    order: 6;
  }

  /*reviews section*/
  #reviews {
    padding: 160px 0 145px;
    text-align: center;
    height: 777px;
  }
  #reviews h3#client {
    font-size: 1.5em;
  }
  #reviews .container {
    flex-direction: row;
    justify-content: space-between;
    width: 1120px;
    margin: 0 auto;
  }
  #reviews .card .comment {
    margin: 65px 0 75px;
  }
  #reviews .card .clientName {
    margin-bottom: 15px;
    font-size: 1em;
  }
  #reviews .card .clientJob {
    font-size: 0.7em;
  }
  /*images section*/

  #images {
    flex-wrap: nowrap;
  }
  #images #milk,
  #images #orange,
  #images #cone,
  #images #sugar {
    height: 450px;
    width: 25%;
  }
  #images #milk {
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
  }
  #images #orange {
    background-image: url(../images/desktop/image-gallery-orange.jpg);
  }
  #images #cone {
    background-image: url(../images/desktop/image-gallery-cone.jpg);
  }
  #images #sugar {
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
  }
}
